
.option {
  background: white;
  overflow: hidden;
  position: fixed;
  right: 30px;
  border-radius: 10px;
  box-shadow: #00000026 0 2px 8px;
  z-index: 4;
  transition: all ease 0.5s;

  &__headerContainer {
    display: flex;
    align-items: center;
    padding: 10px 5px 5px 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

    &_mainTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }
  }

  &__loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__button {
    padding: $unit-1 $unit-3;
    border-radius: $br-4;
    border: 2px solid $clr-black-main;
    transition: $t-all-1;
    line-height: 0;
    background-color: $clr-white;
    min-width: 52px;
    min-height: 36px;

    &Icon {
      &_appearance {
        &_black * {
          fill: $clr-black-main;
        }

        &_white * {
          fill: $clr-white;
        }
      }
    }

    &_appearance {
      &_black {
        background-color: $clr-black-main;

        &:hover {
          background-color: $clr-white;

          .option__buttonIcon_appearance_white * {
            fill: $clr-black-main;
          }
        }
      }

      &_white {
        background-color: $clr-white;

        &:hover {
          background-color: $clr-black-main;

          .option__buttonIcon_appearance_black * {
            fill: $clr-white;
          }
        }
      }
    }

    &_right {
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 $br-3 $br-3 0;
    }
  }

  &__closeButton {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
  }

  &__groupItems {
    display: flex;
    align-items: center;

    &Api {
      justify-content: flex-end;
      cursor: pointer;
    }

    &Icon {
      cursor: pointer;
      margin: 0 $unit-1;
    }

    &Next {
      justify-content: flex-end;
      gap: $unit-2;
    }
  }
}