.element {
  position: absolute;
  z-index: 100;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px 1px;
  background: #d3e100;
}

.element_outer {
  position: relative;
}

.element_inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 7px;

  overflow: hidden;
}

.selected_element {
  border: 1px dashed var(--secondary-color);
  border-radius: var(--br-1);
}

.unselected_element {
  border: 0;
  border-radius: 0;
}
