.line {
  position: absolute;
  background: gray;
}

.line:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 4px solid transparent;
  pointer-events: auto;
}

.line:hover:before {
  cursor: pointer;
}

.bigline {
  position: absolute;
  background: #1677ff;
  z-index: 1;
}

.bigline:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 4px solid transparent;
  pointer-events: auto;
}

.bigline:hover:before {
  cursor: pointer;
}

.triangle {
  position: absolute;
}

.triangle_inner {
  display: inline-block;
  border: 5px solid transparent;
  border-bottom: 5px solid gray;
}

.bigtriangle_inner {
  display: inline-block;
  border: 5px solid transparent;
  border-bottom: 5px solid #1677ff;
  z-index: 1;
}
